<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">View and Update Your Pets</h1>
    <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Quibusdam eos laudantium dolores! Atque et commodi tempore in ipsum
      quos sit iusto? Veritatis perspiciatis dolore obcaecati, accusamus
      assumenda earum a quam.</p>
    <p>Need to update a pet's information? Click below.</p>
    <button class="btn btn-secondary btn-lg" type="button">Add a Pet</button>
    <button class="btn btn-secondary btn-lg" type="button">Update a Pet</button>
    <button class="btn btn-secondary btn-lg" type="button">Delete a Pet</button>

  </div>
</div>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {{! if each to loop over all dogs for logged in owner }}
    {{#if dogs.length}}
      <h3>My Dogs:</h3>
      {{#each dogs as |dog|}}
        <div class="col">
          <div class="card w-50">
            <img src="/assets/image.JPG" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Your {{dog.size}} dog, {{dog.name}}.</h5>
              <p class="card-text">Our records indicate
                {{dog.name}}
                is
                {{dog.age}}
                years old and weighs
                {{dog.weight}}
                pounds.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b>Name:</b> {{dog.name}}</li>
                <li class="list-group-item">
                  <b>Weight:</b>
                  {{dog.weight}}
                  lbs</li>
                <li class="list-group-item">
                  <b>Breed Size:</b>
                  {{dog.size}}</li>
                <li class="list-group-item">
                  <b>Age:</b>
                  {{dog.age}}
                  years old</li>
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
    {{! if each to loop over all cats for logged in owner }}
    {{#if cats.length}}
      <h3>My Cats:</h3>
      {{#each cats as |cat|}}
        <div class="col">
          <div class="card w-50">
            <img src="/assets/catimg3.jpeg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Your Cat, {{cat.name}}</h5>
              <p class="card-text">Our records indicate
                {{cat.name}}
                is
                {{cat.age}}
                years old and weighs
                {{cat.weight}}
                pounds.</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b>Name:</b> {{cat.name}}</li>
                {{#if cat.Declawed}}
                  <li class="list-group-item">
                    {{cat.name}}
                    has been
                    <b>Declawed</b></li>
                {{else}}
                  <li class="list-group-item">{{cat.name}}
                    is
                    <b>NOT Declawed</b></li>
                {{/if}}
                <li class="list-group-item">
                  <b>Weight:</b>
                  {{cat.weight}}
                  lbs</li>
                <li class="list-group-item">
                  <b>Age:</b>
                  {{cat.age}}
                  years old</li>
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>