<div class="p-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-1 fw-bold">View and Update Your Pets</h1>
    <p class="col-md-8 fs-4">Help us keep track of your pets by ensuring our system is up-to-date with the latest information on your Cats and Dogs. </p>
    <p>Need to add a new pet? Click below.</p>
    <a href="/patients/add-dog"<button id="add-dog-button" class="btn btn-secondary btn-lg" type="button">Add
      Dog</button></a>
      <a href="/patients/add-cat"<button id="add-cat-button" class="btn btn-secondary btn-lg" type="button">Add
      Cat</button></a>
  </div>
</div>

<div class="container-fluid">
  {{! <div class="row row-cols-1 row-cols-md-2 g-4"> }}
  {{! if each to loop over all dogs for logged in owner }}
  {{#if dogs.length}}
    <nav
      class="navbar navbar-expand-lg navbar-light bg-primary"
      id="pt-dog-nav"
    >
      <div class="container pet-banners">
        <b>MY DOGS</b>
      </div>
    </nav>
    <div class="row dog-list">
      {{#each dogs as |dog|}}
        <div class="card pet-card">
          <img src="/assets/dogimg-{{dog.size}}.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Your {{dog.size}} dog, {{dog.name}}.</h5>
            <p class="card-text">Our records indicate
              {{dog.name}}
              is
              {{dog.age}}
              years old and weighs
              {{dog.weight}}
              pounds.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <b>Name:</b> {{dog.name}}</li>
              <li class="list-group-item">
                <b>Weight:</b>
                {{dog.weight}}
                lbs</li>
              <li class="list-group-item">
                <b>Breed Size:</b>
                {{dog.size}}</li>
              <li class="list-group-item">
                <b>Age:</b>
                {{dog.age}}
                years old</li>
            </ul>
            <a href="#"<button
      class="btn btn-secondary btn-lg delete-button dog-delete"
      type="button" data-id="{{dog.id}}"
    >Delete Dog</button></a>
          </div>
        </div>

      {{/each}}
    </div>
  {{/if}}
  {{! if each to loop over all cats for logged in owner }}
  {{#if cats.length}}
    <nav class="navbar navbar-expand-lg navbar-light bg-info" id="pt-cat-nav">
      <div class="container pet-banners">
        <b>MY CATS</b>
      </div>
    </nav>
    <div class="row cat-list">
      {{#each cats as |cat|}}

        <div class="card pet-card">
          {{#if cat.declawed}}
          <img src="/assets/catimg3.jpeg" class="card-img-top" alt="..." />
          {{else}}
           <img src="/assets/catimg-claws.jpg" class="card-img-top" alt="..." />
          {{/if}}
          <div class="card-body">
            <h5 class="card-title">Your Cat, {{cat.name}}</h5>
            <p class="card-text">Our records indicate
              {{cat.name}}
              is
              {{cat.age}}
              years old and weighs
              {{cat.weight}}
              pounds.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <b>Name:</b> {{cat.name}}</li>
              {{#if cat.declawed}}
                <li class="list-group-item">
                  {{cat.name}}
                  has been
                  <b>Declawed</b></li>
              {{else}}
                <li class="list-group-item">{{cat.name}}
                  is
                  <b>NOT Declawed</b></li>
              {{/if}}
              <li class="list-group-item">
                <b>Weight:</b>
                {{cat.weight}}
                lbs</li>
              <li class="list-group-item">
                <b>Age:</b>
                {{cat.age}}
                years old</li>
            </ul>
            <a href="#"<button
      class="btn btn-secondary btn-lg delete-button cat-delete"
      type="button" data-id="{{cat.id}}"
    >Delete Cat</button></a>
          </div>
        </div>

      {{/each}}
    </div>
  {{/if}}
  {{! </div> }}
</div>
   <script src="/js/delete.js"></script>
   